# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# /client/node_modules

#config files and secrets
/client/src/utils/Auth/config.js
/client/src/utils/Auth/hostedConfig.js
/client/src/utils/Auth/localConfig.js
/client/src/utils/client.js

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
